.price {
    background: linear-gradient(89.95deg, #EFCFFA 30.72%, rgba(255, 255, 255, 0) 65.59%), linear-gradient(271.06deg, #CDC6F8 34.38%, rgba(255, 255, 255, 0) 105.35%), #FFFFFF;
    font-family: "Didact Gothic", sans-serif;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: #4F016E;
        border-bottom: 2px solid #4F016E;
        margin-bottom: 50px;

        &--sub {
            margin-top: 0px;
            color: rgba(148, 0, 128, 0.6);
            border-bottom: 2px solid rgba(148, 0, 128, 0.6);
        }

        &--shugar {
            color: rgba(150, 118, 250, 0.6);
            border-bottom: 2px solid rgba(150, 118, 250, 0.6);
        }
    }

    &__manicure {
        width: 800px;
        background: rgba(148, 0, 128, 0.6);
        padding: 35px 25px;
        margin-bottom: 50px;

        &--background {
            height: 100%;
            background: rgba(205, 198, 248, 0.5); 
            padding: 20px 35px;
        }

        &--shugar {
            background: rgba(150, 118, 250, 0.6);
        }
    }

    &__element {
        display: flex;
        justify-content: space-between;
        color: #f4f4f4;
        font-size: 18px;
        padding: 4px;
        border-bottom: 1px solid #f4f4f4;
        margin-bottom: 10px;
    }

    &__text {
        &--cursive {
            font-style: italic;
        }

        &--small {
            font-size: 14px;
        }
    }

    &__cost {
        text-align: end;
        font-weight: bold;
    }
}

.call {
    text-decoration: none;
    font-size: 18px;
    color: #9676FA;
    padding: 13px 21px;
    background: #4F016E;
    border: 3px solid #9676FA;
    box-sizing: border-box;
    transition: .5s;
    margin-bottom: 50px;

    &:hover {
        color: #4F016E;
        border: 3px solid #4F016E;
        background-color: rgba(150, 118, 250, 0.6);
    }

    &:active {
        background-color: #fff;
    }
}