.price {
    background: linear-gradient(89.95deg, #EFCFFA 30.72%, rgba(255, 255, 255, 0) 65.59%), linear-gradient(271.06deg, #CDC6F8 34.38%, rgba(255, 255, 255, 0) 105.35%), #FFFFFF;
    font-family: "Didact Gothic", sans-serif;
    background-size: cover cover;
    width: 100%;
    height: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: #4F016E;
        border-bottom: 2px solid #4F016E;
        margin-bottom: 50px;

        &--sub {
            margin-top: 0px;
            color: rgba(148, 0, 128, 0.6);
            border-bottom: 2px solid rgba(148, 0, 128, 0.6);
        }

        &--shugar {
            color: rgba(150, 118, 250, 0.6);
            border-bottom: 2px solid rgba(150, 118, 250, 0.6);
        }
    }

    &__manicure {
        width: 800px;
        background: rgba(148, 0, 128, 0.6);
        padding: 35px 25px;
        margin-bottom: 50px;

        &--background {
            height: 100%;
            background: rgba(205, 198, 248, 0.5); 
            padding: 20px 35px;
        }

        &--shugar {
            background: rgba(150, 118, 250, 0.6);
        }
    }

    &__element {
        display: flex;
        justify-content: space-between;
        color: #f4f4f4;
        font-size: 18px;
        padding: 4px;
        border-bottom: 1px solid #f4f4f4;
        margin-bottom: 10px;
    }

    &__text {
        &--cursive {
            font-style: italic;
        }

        &--small {
            font-weight: normal;
            font-size: 14px;
        }
    }

    &__cost {
        text-align: end;
        font-weight: bold;
    }
}

.call {
    text-decoration: none;
    font-size: 18px;
    color: #9676FA;
    padding: 13px 21px;
    background: #4F016E;
    border: 3px solid #9676FA;
    transition: .5s;
    margin-bottom: 50px;
    font-family: 'Didact Gothic', sans-serif;

    &:hover {
        color: #4F016E;
        border: 3px solid #4F016E;
        background-color: rgba(150, 118, 250, 0.6);
    }

    &:active {
        background-color: #fff;
    }
}

// for mobile screens
@media screen and (min-width: 320px) and (max-width: 767px) {

    .price {
        &__row {
            flex-direction: column;
        }

        &__title{
            &--sub {
                margin-right: 0px;
            }

            &--mob {
                font-weight: bold;
                text-align: center;
                font-size: 32px;
            }
        }

        &__manicure {
            width: 280px;
            margin-left: 0%;
            max-width: 100%;

            &--background {
                width: 100%;
                padding: 0; 
            }
        }

        &__text {
            font-size: 16px;
            &--cursive {
                font-size: 11px;
            }

            &--small {
                font-size: 12px;
            }
        }
    }  

    .call {
        width: 100%;
        text-align: center;
    }
}

// for tablet screens
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .price {
        &__row {
            width: auto;
            flex-direction: column;
            align-items: center;
        }

        &__title{
            &--sub {
                margin-right: 0px;
            }
        }

        &__manicure {
            max-width: 80%;
            margin-left: 0%;
        }
    }  

    .call {
        text-align: center;
    }
}